<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RestartAction</key>
	<string>None</string>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>System Update</string>
	<key>description</key>
	<string>Installs a LaunchDaemon that installs all Updates at 1 AM for laptops, and 5 AM for desktops.</string>
	<key>developer</key>
	<string>WardsParadox</string>
	<key>display_name</key>
	<string>Munki Overnight Update Utility</string>
	<key>installer_item_hash</key>
	<string>EDIT ME</string>
	<key>installer_item_location</key>
	<string>system_update/overnightMunki-1.2.0.dmg</string>
	<key>installer_item_size</key>
	<integer>EDIT ME</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>path</key>
			<string>/var/deployment/receipts/installs/overnightMunki.plist</string>
			<key>type</key>
			<string>plist</string>
			<key>version</key>
			<string>1.1.1</string>
			<key>version_comparison_key</key>
			<string>version</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Library/LaunchDaemons</string>
			<key>group</key>
			<string>wheel</string>
			<key>source_item</key>
			<string>com.example.overnightmunki.plist</string>
			<key>user</key>
			<string>root</string>
			<key>mode</key>
			<string>u=rw,go=r</string>
		</dict>
		<dict>
			<key>destination_path</key>
			<string>/usr/local/etc/</string>
			<key>group</key>
			<string>wheel</string>
			<key>mode</key>
			<string>u=rwx,go=rx</string>
			<key>source_item</key>
			<string>overnightMunki.py</string>
			<key>user</key>
			<string>root</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.7.5</string>
	<key>name</key>
	<string>overnightMunki</string>
	<key>postinstall_script</key>
	<string>#!/bin/sh

# Set Laptop Wake Time to 2am
#If the machine is a laptop, do some laptop-specific things
IS_LAPTOP=$(/usr/sbin/system_profiler SPHardwareDataType | grep "Model Name" | grep "Book");
if [ "$IS_LAPTOP" != "" ]; then
	sudo pmset repeat wakeorpoweron MTWRF 01:00:00  shutdown MTWRFSU 18:00:00;
else
	#Other Devices (Desktops) Run Later
	sudo pmset repeat wakeorpoweron MTWRF 05:00:00 shutdown MTWRFSU 18:00:00;
fi

# Receipts
# Create a receipt for the printer
mkdir -p /var/deployment/receipts/installs;
/usr/libexec/PlistBuddy -c "Add :version string" /var/deployment/receipts/installs/overnightMunki.plist;
/usr/libexec/PlistBuddy -c "Set :version 1.1.1" /var/deployment/receipts/installs/overnightMunki.plist;

exit 0;
</string>
	<key>postuninstall_script</key>
	<string>#!/bin/bash
pmset repeat cancel;
pmset repeat shutdown MTWRFSU 18:00:00;</string>
	<key>preinstall_script</key>
	<string>#!/bin/sh
mkdir -p /usr/local/etc;
exit 0;</string>
	<key>preuninstall_script</key>
	<string>#!/bin/bash
launchctl unload /Library/LaunchDaemons/com.example.overnightMunki.plist;
</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.1.1</string>
</dict>
</plist>
